{extends $layout}

{block head}
    <script src="/ckeditor/ckeditor.js"></script>
{/block}
{block copyright}
    © {NAttreid\Utils\Date::getYearToActual('2014')} <a href="mailto:attreid@gmail.com">Attreid</a>
{/block}