/log/*
/temp/*
/vendor
/nbproject
/.idea
/node_modules
/package-lock.json
/app/config/config.local.neon
/composer.lock

!/temp/sessions/
/temp/sessions/*

/www/webtemp/*
/www/upload/*
/www/css
/www/fonts
/www/js

/www/images/*
!/www/images/front

/www/ckeditor/*
!/www/ckeditor/config.js

/www/kcfinder/*
!/www/kcfinder/conf
/www/kcfinder/conf/*
!/www/kcfinder/conf/config.php

/assets/*
!/assets/default

/www/assets

/bin/backup

!.gitignore
!.htaccess
!web.config