/log/*
/temp/*
/vendor
/nbproject
/.idea
/node_modules
/bower_components
/app/config/config.local.neon
/composer.lock

!/temp/sessions/
/temp/sessions/*

/www/webtemp/*
/www/upload/*
/www/css
/www/fonts
/www/js

/www/images/*
!/www/images/front

/www/ckeditor/*
!/www/ckeditor/config.js

/www/kcfinder/*
!/www/kcfinder/conf
/www/kcfinder/conf/*
!/www/kcfinder/conf/config.php

/www/assets/*
!/www/assets/default
/www/assets/default/*
!/www/assets/default/original

/bin/backup

!.gitignore
!.htaccess
!web.config