/log/*
/temp/*
/vendor
/nbproject
/node_modules
/bower_components
/app/config/config.local.neon
/composer.lock

/www/webtemp/*
/www/upload/*
/www/kcfinder/cache/*

/www/assets/*
!/www/assets/default
/www/assets/default/*
!/www/assets/default/original

/bin/backup

!.gitignore
!.htaccess
!web.config