webloader:
    jsDefaults:
        async: true

    css:
        front:
            files:
                - %wwwDir%/css/front.min.css
                - {files: ["*.css", "*.less"], from: %appDir%/modules/front}
            fileFilters:
                - @lessFilter
                - @cssMin
    js:
        front:
            files:
                - %wwwDir%/js/front.min.js
                - {files: ["*.js"], from: %appDir%/modules/front}
            fileFilters:
                - @jsMin

        frontCs:
            files:
                - %wwwDir%/js/i18n/frontCs.min.js
            fileFilters:
                - @jsMin