{block title}{$homepage->title}{/block}
{block description}{$homepage->description}{/block}
{block keywords}{$homepage->keywords}{/block}
{block ogImage}{$homepage->image}{/block}

{block content}
{include homepage.latte}