<!DOCTYPE html>
<html lang="{$locale}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta name="viewport"
          content="{ifset viewport}{include viewport|striptags|strip}{else}width=device-width,initial-scale=1{/ifset}">

    <title>{ifset title}{include title|striptags|strip} | {/ifset}{$configurator->title}</title>
    <meta name="og:title" n:ifset="title" content="{include title|striptags|strip} | {$configurator->title}"/>
    <meta name="og:site_name" content="{$configurator->title}"/>

    <meta name="description"
          content="{ifset description}{include description|striptags|strip}{else}{$configurator->description}{/ifset}"/>
    <meta name="og:description"
          content="{ifset description}{include description|striptags|strip}{else}{$configurator->description}{/ifset}"/>

    <meta name="keywords" content="{ifset keywords}{include keywords|strip}{else}{$configurator->keywords}{/ifset}"/>

    <meta property="og:type" content="{ifset ogType}{include ogType|striptags|strip}{else}website{/ifset}"/>

    <meta property="og:image" n:ifset="ogImage" content="{include ogImage|striptags|strip}"/>

    <meta property="og:url" content="{ifset ogUrl}{include ogUrl|striptags|strip}{else}{link //this}{/ifset}"/>

    <link rel="canonical" href="{ifset canonical}{include canonical|striptags|strip}{else}{link //this}{/ifset}" />

    <meta name="robots" content="index,follow"/>
    <meta name="author" content=""/>

    {if $cookiePolicy->analytics}
        {control googleApi}
    {/if}

    {control css}
    {control js}

    {block head}{/block}
</head>
<body>
<div id="page_top"></div>
{if $cookiePolicy->analytics}
    {control googleApi:event}
{/if}
{control flashMessages}
{block content}{/block}
<div id="footer">
    {$footer->content|noescape}
    <ul n:if="$footerPages->count() > 0">
        <li n:foreach="$footerPages as $row">
            <a href="{$row->link}">{$row->name}</a>
        </li>
    </ul>
</div>
<div id="copyright">
    {block copyright}
        © {NAttreid\Utils\Date::getYearToActual('2014')} <a href="mailto:attreid@gmail.com">Attreid</a>
    {/block}
</div>
<header>
    <a n:href="Homepage:" class="logo">
        <img n:img="$configurator->logo, '260x36'" alt="{$configurator->title}">
    </a>
    <div id="menu">
        <ul>
            <li>
                <a n:href="Homepage:" n:class="$presenter->linkCurrent ? active">
                    {_'front.home'}
                </a>
            </li>
            {if $configurator->onePage}
                {include menuItems, items => $menuPages, onePage => true}
            {else}
                {include menuItems, items => $menuPages}
            {/if}
        </ul>
    </div>
    <span id="menu-button" class="fa fa-bars"></span>

    {define menuItems}
        {default $onePage = false}
        <li n:foreach="$items as $row">
            {if $onePage}
                <a href="{if $row->isLink}{$row->link}{else}{link Homepage:#page_$row->url}{/if}">{$row->name}</a>
            {else}
                <a href="{$row->link}" n:class="$presenter->linkCurrent ? active">{$row->name}</a>
            {/if}
            <div n:if="$row->hasMenuChildren">
                <ul>
                    {include menuItems, items => $row->menuChildren, onePage => false}
                </ul>
            </div>
        </li>
    {/define}
</header>
{control cookiePolicy}
{block components}{/block}

<script n:if="$cookiePolicy->analytics" async type="text/javascript" src="/js/nTracker.min.js"></script>
{block scripts}{/block}
{$configurator->tags|noescape}
</body>
</html>
